.login__container{
  display: flex;
  flex-direction: column  ;
  height: inherit;
  align-items:center;
  justify-content:space-around;
  background-color: rgb(178, 236, 236);
}
:host{
  margin: auto;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction:column  ;
  align-items:center;
  justify-content:space-evenly;
  height: inherit;
  width: 350px;
  border: 0.5px solid #000;
  border-radius: 4px;
  padding: 8px;
}
input, button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-width: 0;
  margin-bottom: 8px;
}
button {
  text-align: center;
}
button:last-child {
  margin-bottom: 0;
}